<!DOCTYPE html>
<html lang="en" xmlsn:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinemaCircle</title>
</head>
<body>
    <h1>CinemaCircle</h1>

    <h3>Collections</h3>

    <table>
        <tr>
            <th>List ID</th>
            <th>Collections</th>
            <th>Description</th>
        </tr>

        <tr th:each="collection : ${collections}">
            <td th:text="${collection.listid}"></td>
            <td th:text="${collection.name}"></td>
            <td th:text="${collection.desc}"></td>
            <td><button><a th:href="@{/opencollection/{id}(id=${collection.listid})}">Open</a></button></td>
        </tr>
    </table>

    <p><button><a href="/newcollection">Create A New Collection</a></button></p>

    <p><button><a href="/home">Back</a></button></p>
</body>
</html>