<!DOCTYPE html>
<html lang="en" xmlsn:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinemaCircle</title>
</head>
<body>
    <h1>CinemaCircle</h1>

    <form action="#" th:action="@{/save}" th:object="${movie}" method="post">
        <p><input type="hidden" th:field="*{movieId}" /></p>
        <p><input type="text" placeholder="Title" th:field="*{name}" /></p>
        <p><input type="text" placeholder="Genre" th:field="*{genre}" /></p>
        <p><input type="text" placeholder="Description" th:field="*{desc}" /></p>
        <p><input type="text" placeholder="Director" th:field="*{director}" /></p>
        <p><input type="text" placeholder="Lenght (min)" th:field="*{length}" /></p>
        <p>
            <label for="deplist">Where To Watch</label>
            <select id="deplist" th:field="*{streamingService}">
                <option
                    th:each="service : ${services}"
                    th:value="${service.serviceId}"
                    th:text="${service.serviceName}"
                ></option>
            </select>
        </p>
        <p><input type="submit" value="Save"></input></p>
        <p><button><a href="/home">Back</a></button></p>
    </form>
</body>
</html>