<!DOCTYPE html>
<html lang="en" xmlsn:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="\css\bootstrap-5.3.3-dist\css\bootstrap.min.css" th:href="@{\css\bootstrap-5.3.3-dist\css\bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="\css\csslocations.css" th:href="@{\css\csslocations.css}" />
    <title>CinemaCircle</title>
</head>
<body>
    <div class="container-xxl">

        <h1 class="display-1">CinemaCircle</h1>

        <h3 class="display-6">Add A New Movie</h3>

        <p class="text">Here you can add a movie to the site</p>

        <form class="movieform" action="#" th:action="@{/save}" th:object="${movie}" method="post">
            <p><input type="hidden" th:field="*{movieId}" /></p>
            <p><input type="text" placeholder="Title*" th:field="*{name}" /></p>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</p>
            <p><input type="text" placeholder="Genre" th:field="*{genre}" /></p>
            <p><input type="text" placeholder="Description" th:field="*{desc}" /></p>
            <p><input type="text" placeholder="Director*" th:field="*{director}" /></p>
            <p th:if="${#fields.hasErrors('director')}" th:errors="*{director}">Error</p>
            <p><input type="text" placeholder="Length (min)" th:field="*{length}" /></p>
            <p>
                <label for="deplist">Where To Watch</label>
                <table class="table align-middle" th:object="${services}">
                    <tr>
                        <th>Streaming service</th>
                        <th></th>
                    </tr>
            
                    <tr th:each="service : ${services}">
                        <td th:text="${service.serviceName}"></td>
                        <td><input type="checkbox" th:value="${service.serviceId}" th:name="selectedServices"/></td>
                    </tr>
                </table>
            </p>
            <p class="movieformsavebutton"><input class="btn btn-outline-success" type="submit" value="Save"></input></p>
        </form>

        <p><button class="btn btn-outline-secondary"><a href="/home">Back</a></button></p>
    </div>
</body>
</html>