<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="\css\bootstrap-5.3.3-dist\css\bootstrap.min.css" th:href="@{\css\bootstrap-5.3.3-dist\css\bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="\css\csslocations.css" th:href="@{\css\csslocations.css}" />
    <title>CinemaCircle</title>
</head>
<body>
    <div class="container-xxl">
        <h1 class="display-1">CinemaCircle</h1>

        <h3 class="display-6">Sing Up</h3>

        <form action="#" th:action="@{/saveuser}" th:object="${user}" method="post">
            <p><input type="hidden" th:field="*{id}" /></p>
            <p><input type="text" placeholder="Username" th:field="*{username}" /></p>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</p>
            <p><input type="text" placeholder="Password" th:field="*{passwordHash}" /></p>
            <p th:if="${#fields.hasErrors('passwordHash')}" th:errors="*{passwordHash}">Error</p>
            <p><input type="text" placeholder="Email" th:field="*{email}" /></p>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</p>
            <p><input class="btn btn-outline-success" type="submit" value="Save"></input></p>
        </form>
    </div>
</body>
</html>